/* You can add global styles to this file, and also import other style files */

:root {
    font-size: 12px;
}

body {
    font-family: 'Roboto', sans-serif;
	background-color: #e5e5e5;
	margin: 0;
}